<div layout="row" layout-align="center center" ng-init="init()">
    <div ng-repeat="tab in tabs" style="margin-right: 10px" >
        <md-toolbar>
            <small class="md-toolbar-tools">
                <span>{{tab.title}}</span>
            </small>
        </md-toolbar>
        <md-content class="chapter-list" style="height: 400px;border-right:solid 2px #e5e5e5;border-left:solid 2px #e5e5e5;float: left;" ui-sortable="sortableOptions" ng-model="chapters">
            <md-card ng-repeat="chapter in chapters">
                <div layout="row" layout-align="center center">
                    <img ng-src="{{chapter.url}}" class="img-polaroid" ph-img="80x80" alt="chapter._id"/>
                    <div layout="column" layout-margin>
                        <h3>{{chapter.name}}</h3>
                        <div layout="row" layout-sm="column" layout-align="center center">
                            <md-button class="md-raised" style="margin-right: 5px">编辑</md-button>
                            <md-button class="md-raised md-primary" style="margin-right: 5px">发布</md-button>
                            <md-button class="md-raised md-warn" style="margin-right: 5px">删除</md-button>
                        </div>
                    </div>
                </div>
            </md-card>
        </md-content>
    </div>
</div>

<div mfb-menu position="br" effect="slidein" label="添加新章节" active-icon="ion-edit" resting-icon="ion-plus-round">
    <a mfb-button icon="ion-images" label="切换背景图"></a>
    <a mfb-button icon="ion-ios-paper-outline" label="意见反馈"></a>
</div>
